.hero-wrapper {
   background: #1d1b1b;
   z-index: -5;
}
.cover {
   position: absolute;
   width: 100vw;
   height: 100vh;
   z-index: 1;
   top: -100vw;
   background: #1d1b1b;
}
.hero {
   margin: 0;
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template-areas: 'desc image';
   column-gap: 30px;
   align-items: center;

   &__title {
      grid-area: desc;
      position: relative;
      top: 100px;
      // padding-top: 5vh;

      .title {
         font-size: 4.5em;
         text-transform: uppercase;
         font-weight: 700;
         line-height: 1.5em;

         &::before {
            content: '';
            position: absolute;
            height: 0.2em;
            bottom: 0.8em;
            width: 70%;
            right: 0;
            z-index: -1;
            background: #ee9292;
         }
      }
   }

   &__images {
      right: 100;
      grid-area: image;
      width: 100%;
      height: 65vh;
      position: relative;

      &__image {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: top;
         margin: 0 auto 0 0;
      }
      &::before {
         position: absolute;
         content: '';
         z-index: -1;
         background: #ee9292;
         height: 80px;
         width: 200%;
         bottom: 0;
      }

      &::after {
         position: absolute;
         content: '';
         z-index: -1;
         background: #ee9292;
         height: 40px;
         width: 200%;
         left: 0;
         bottom: 100px;
      }
   }
}
.scroll {
   position: relative;
   text-align: center;
   top: -10vh;
   .chevron {
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb04 2s infinite;
      animation: sdb04 2s infinite;
      box-sizing: border-box;
   }
   @-webkit-keyframes sdb04 {
      0% {
         -webkit-transform: rotate(-45deg) translate(0, 0);
      }
      20% {
         -webkit-transform: rotate(-45deg) translate(-10px, 10px);
      }
      40% {
         -webkit-transform: rotate(-45deg) translate(0, 0);
      }
   }
   @keyframes sdb04 {
      0% {
         transform: rotate(-45deg) translate(0, 0);
      }
      20% {
         transform: rotate(-45deg) translate(-10px, 10px);
      }
      40% {
         transform: rotate(-45deg) translate(0, 0);
      }
   }
}

@media screen and (max-width: 992px) {
   .hero {
      grid-template-areas: 'desc desc image';
      column-gap: 20px;

      &__title {
         .title {
            line-height: 1.2em;
            font-size: 3em;
         }
         .text {
            font-size: 1.5em;
         }
      }
   }
}

@media screen and (max-width: 1024px) and (min-height: 800px) {
   .hero {
      grid-template-areas: 'image' 'desc';
      grid-template-rows: minmax(50vh, 60vh);
      column-gap: 20px;
      align-content: center;

      &__title {
         top: 0;
         align-self: start;
         justify-self: center;

         .title {
            font-size: 6em;

            &::before {
               content: '';
            }
         }
      }

      &__images {
         height: 75%;
         width: 60%;

         &__image {
            transform: translateX(50%);
         }

         &::before {
            width: 200%;
            transform: translateX(20%);
         }

         &::after {
            width: 200%;
            transform: translateX(20%);
         }
      }
   }
}

@media screen and (max-width: 769px) {
   .hero {
      grid-template-areas: 'image' 'desc';
      grid-template-rows: minmax(50vh, 60vh);
      column-gap: 20px;
      align-content: center;

      &__title {
         top: 0;
         align-self: start;
         justify-self: center;

         .title {
            font-size: 2.5em;

            &::before {
               content: '';
               bottom: 0.7em;
            }
         }
         .text {
            font-size: 1.2em;
         }
      }

      &__images {
         height: 75%;
         width: 60%;

         &__image {
            transform: translateX(50%);
         }

         &::before {
            width: 200%;
            transform: translateX(20%);
         }

         &::after {
            width: 200%;
            transform: translateX(20%);
         }
      }
   }
}

@media screen and (max-width: 576px) {
   .hero {
      grid-template-rows: minmax(50vh, 60vh);
      &__title {
         .title {
            font-size: 2em;

            &::before {
               content: '';
            }
         }
         .text {
            font-size: 1.2em;
         }
      }

      &__images {
         height: 75%;
         width: 75%;

         &__image {
            transform: translateX(25%);
         }

         &::before {
            width: 200%;
            transform: translateX(10%);
         }

         &::after {
            width: 200%;
            transform: translateX(10%);
         }
      }
   }
}
