header {
   position: fixed;
   z-index: 2;
   width: 100vw;
   height: 70px;
   padding: 30px 60px 20px;

   .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__left {
         h3 {
            font-weight: 700;
            position: relative;

            &::before {
               background: #ee9292;
               position: absolute;
               content: '';
               z-index: -1;
               width: 35px;
               height: 35px;
               border-radius: 50%;
               top: -25%;
               left: -10%;
            }
         }
      }

      span:hover {
         color: #ee9292;
      }
   }
}

@media screen and (max-width: 768px) {
   header {
      padding: 30px 20px 20px;
   }
}

@media screen and (max-width: 576px) {
   header {
      .nav {
         &__left {
            h3 {
               font-size: 1em;

               &::before {
                  width: 25px;
                  height: 25px;
               }
            }
         }
      }
   }
}
