.contacts {
   position: absolute;
   top: 0;
   z-index: 1;
   padding-top: 110px;

   &__title {
      font-size: 15em;
      font-weight: 400;
   }

   &__list {
      padding-left: 55px;

      &__title {
         margin: 1em 0;
      }

      li {
         margin-bottom: 0.8em;

         a {
            color: #ee9292;
            font-size: 1.3em;
         }

         a:hover {
            color: #fff;
         }
      }
   }
}

@media screen and (max-width: 992px) {
   .contacts {
      &__title {
         font-size: 12em;
      }

      &__list {
         padding-left: 50px;
      }
   }
}

@media screen and (max-width: 1024px) {
   .contacts {
      top: 40%;
      left: 150px;
      &__title {
         font-size: 10em;
      }
      &__list {
         padding-left: 40px;
      }
   }
}

@media screen and (max-width: 768px) {
   .contacts {
      left: 100px;
   }
}
